@font-face {
    font-family: "OxygenBold";
    src: url("../fonts/Oxygen-Bold.ttf");
}
@font-face {
    font-family: "ManropeBold";
    src: url("../fonts/Manrope-Bold.ttf");
}
@font-face {
    font-family: "OxygenRegular";
    src: url("../fonts/Oxygen-Regular.ttf");
}
@font-face {
    font-family: "MontserratMedium";
    src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold.ttf");
}
@media (max-width: 1279px) {
    .today{
        margin-left: 34.5%;
    }
}
@media (min-width: 1280px) and (max-width: 1920px){
    .today{
        margin-left: 3%;
    }
}
body{
    background-image: url("../images/backgrounds/waiting.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Roboto", "Arial", sans-serif;
}
.header{
    margin-top: 1em;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.title{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.logo{
    position: absolute;
    top: 60%;
}
.logo img{
    max-width: 100%;
    max-height: 3em;
    transform: scale(0.7);
}
.infoService{
    font-family: MontserratRegular, Geneva, sans-serif;
    color: #FFFFFF;
    font-size: 1.5em;
}
.openMap{
    position: absolute;
    right: 5%;
    top: 50%;
    background: none;
    border: 0;
    width: fit-content;
    font-family: 'MontserratMedium';    
    font-size: 1.5em;
    color: #777575;
}
.openMap:hover{
    color: #383232;
}
.mapBlock{
    position: absolute;
    left: 15%;
    top: 10%;
    width: 70%; 
    height: 80%;
    border-radius: 25px;
}
.today{
    background: rgba(45, 43, 42, 0.19);
    backdrop-filter: blur(19px);
    border-radius: 25px;
    margin-top:5%;
    max-width: 30%;
    max-height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.time-today h1{
    font-family: OpenSansBold, Arial, sans-serif;
    color: #FFFFFF;
    font-style: normal;
    margin: 0 0 0 0;
    font-size: 5em;
    text-shadow: 0px 4px 9px #000000;
}
.date-today{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.day-today{
    font-family: MontserratMedium, Geneva, sans-serif;
    font-style: normal;
    font-size: x-large;
    color: #B4B4B4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.weekday{
    font-family: OxygenRegular, Arial, sans-serif;
    font-style: normal;
    font-size: larger;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.year{
    font-family: MontserratMedium, Geneva, sans-serif;
    font-style: normal;
    font-size: x-large;
    color: #B4B4B4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.today-weather{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.current-weather{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.current-weather img{
    transform: scale(5);
}
.current-temperature{
    font-family: OxygenBold, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4em;
    padding-left: 22%;
    color: #FFFFFF;
}
.city{
    position: relative;
    font-family: MontserratMedium, Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2em;
    color: #777575;
    margin-top: -1.5%;
}


.row-forecast{
    overflow: visible;
    position: relative;
    width: 100%;
    margin-top: 9%;
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-around;
}
.forecast-button{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16%;
    height: 8.3em;
    background: rgba(45, 43, 42, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    border: 0;
}
.forecast-button:hover{
    background: rgba(29, 28, 28, 0.5);
    backdrop-filter: blur(10px);
}
.current-forecast{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.current-forecast img{
    transform: scale(2.6);
}
.forecast-temperature{
    font-family: OxygenBold, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.1em;
    color: #FFFFFF;
    padding-left: 15%;
}
.forecast-day{
    align-self: flex-start;
}
.forecast-day p{
    font-family: ManropeBold, Regular, sans-serif;
    font-style: normal;
    font-size: 2em;
    color: #FFFFFF;
    margin: 0;
}
.currentForecastForDayInterface{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.forecastData img{
    transform: scale(2.6);
}
.forecastData p{
    position: relative;
    font-family: MontserratRegular, Geneva, sans-serif;
    color: #FFFFFF;
    font-size: 4em;
    padding-left: 3%;
    margin: 0 0 0 0;
}
.currentForecastForDay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 100%;
}
.forecastData{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    padding: 0% 0% 0% 5%;
}
.forecastData div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.title-logoButton p{
    position: relative;
    font-family: MontserratRegular, Geneva, sans-serif;
    color: #FFFFFF;
    font-size: 2em;
    margin: 0 0 0 0;
}
.phaseOfDay{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 7%;
    width: 40%;
    height: 80%;
}
.phase{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.phase div span{
    font-family: MontserratRegular, Geneva, sans-serif;
    color: #FFFFFF;
    font-size: 4em;
    margin: 0 0 0 0;
}
.phaseTemp{
    height: auto;
    min-width: 40%;
}
.nameOfPhase{
    font-family: ManropeBold, Geneva, sans-serif;
    color: #FFFFFF;
    font-size: 4em;
    margin: 0 0 0 0;
    width: 50%;
    padding-left: 20%;
}
.phase div img{
    padding-left: 45%;
    transform: scale(3.5);
}